layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        children

        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Services" {
        pane split_direction="vertical" {
            pane {
                command "fastapi"
                args "dev" "src/slc_atlas/main.py" "--host" "0.0.0.0" "--port" "8000"
            }
            pane {
                command "npm"
                args "run" "dev"
                cwd "web"
                focus true
            }
        }
    }

    tab name="Terminal" {
        pane {
            command "bash"
        }
    }
}
