# SPDX-FileCopyrightText: 2026 Dong Lab, Yale School of Medicine <https://donglab.org>
#
# SPDX-License-Identifier: CC0-1.0

fastapi[standard]>=0.115
uvicorn[standard]>=0.32
polars>=1.0
pyarrow>=17
pydantic>=2.8
pydantic-settings>=2.5
black>=24.0
reuse[charset-normalizer]>=5.0
parquet-tools>=0.2.16
